### 리스트 생성 및 기본 연산

In [17]:
l = []
l = [1,2,"Great"]
print( l[0], l[-1])
print( l[1:3], l[:])
print()

L = list(range(10))    #range함수의 반환값은 list가 아니다
print(list(L[::2]))               
print()

print(l * 2)
print(l + [3,4,5])
print(len(l))            #기존의 l은 바뀌지 않았다
print()

print(4 in L)

1 Great
[2, 'Great'] [1, 2, 'Great']

[0, 2, 4, 6, 8]

[1, 2, 'Great', 1, 2, 'Great']
[1, 2, 'Great', 3, 4, 5]
3

True

In [18]:
a = ['spam','egg',100,1234]
a[2] = a[2] + 23   #새로운 값을 할당하라
print(a)

['spam', 'egg', 123, 1234]

In [20]:
a [0:2] = [1,12] #동일한 크기에 대한 슬라이스 치환
print(a)

a[0:2] = [1] #서로 다른 크기에 대한 슬라이스 치환
print(a)

a[0:1] = [1,2,3] #서로 다른 크기에 대한 슬라이스
print(a)

#자리 = 값

[1, 12, 3, 123, 1234]
[1, 3, 123, 1234]
[1, 2, 3, 3, 123, 1234]

In [22]:
a = [1, 12, 123, 1234]
a[0:2] =  []
#자리를 잡아주고 그자리에 공백리스트 추가

print(a)

[123, 1234]

In [25]:
a = [123, 1234]
a[1:1] = ['spam', 'ham']  #[1:1]->1의 자리에 1을 포함하지 않는다는 의미 (추가만 됨)
print(a)

b = [123, 1234]
b[1:2] = ['spam','ham']
print(b)

a[0:0] = a  #리스트 맨 앞에 자기 자신을 삽입
print(a)

[123, 'spam', 'ham', 1234]
[123, 'spam', 'ham']
[123, 'spam', 'ham', 1234, 123, 'spam', 'ham', 1234]

In [27]:
a = [1,2,3,4]
del(a[0])
print(a)

del(a[1:])
print(a)

[2, 3, 4]
[2]

In [30]:
a = list(range(4))
print(a)
print(a[::2])

del(a[::2])
print(a)

[0, 1, 2, 3]
[0, 2]
[1, 3]

In [32]:
a = list(range(5))
del(a)                      #리스트 삭제되는 것이 아니라 레퍼런스 삭제
print(a)

NameError: name 'a' is not defined

#### 중첩 리스트

In [37]:
s = [1,2,3]
t = ['begin', s, 'end']
print(t)

print(t[1][1])  #t[1] == s

['begin', [1, 2, 3], 'end']
2

In [39]:
s[1] = 100
print(t)

['begin', [1, 100, 3], 'end']

In [41]:
L = [1, ['a',['x','y'],'b'],3]
print(L[0])
print(L[1])
print(L[1][1])
print(L[1][1][1])

1
['a', ['x', 'y'], 'b']
['x', 'y']
y

In [43]:
print(list(range(10)))

print(list(range(5,15)))

print(list(range(5,15,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[5, 7, 9, 11, 13]

In [44]:
for el in range(10):
    print(el, 'inch =', el * 2.54, 'centi')

0 inch = 0.0 centi
1 inch = 2.54 centi
2 inch = 5.08 centi
3 inch = 7.62 centi
4 inch = 10.16 centi
5 inch = 12.7 centi
6 inch = 15.24 centi
7 inch = 17.78 centi
8 inch = 20.32 centi
9 inch = 22.86 centi

In [45]:
sun, mon, tue, wed, thu, fri, sat = range(7)
print(sun, mon, tue, wed, thu, fri, sat)

0 1 2 3 4 5 6

In [47]:
lt = [('one',1),('two',2),('three',3)]
for t in lt:
    print( 'name =', t[0],',num =', t[1])

name = one ,num = 1
name = two ,num = 2
name = three ,num = 3

In [51]:
lt = [('one',1),('two',2),('three',3)]
for t in lt:
    print( 'name = %s, num = %s' %t)  #문자열 포맷팅

name = one, num = 1
name = two, num = 2
name = three, num = 3

In [57]:
LL = [['one',1],['two',2],['three',3]]
for name, num in LL:
    print( name, num )

one 1
two 2
three 3

### 리스트 메소드

In [63]:
s = [1,2,3]

s.append(5)
print(s)
s.append("abc")
s.append((1,2))
s.append({'a': 100})
print(s)

s.insert(3,4)
print(s)

s.insert(0,"abcd")
print(s)

[1, 2, 3, 5]
[1, 2, 3, 5, 'abc', (1, 2), {'a': 100}]
[1, 2, 3, 4, 5, 'abc', (1, 2), {'a': 100}]
['abcd', 1, 2, 3, 4, 5, 'abc', (1, 2), {'a': 100}]

In [75]:
s = [1,2,3,4,5]

print(s.index(3))   #값 3의 인덱스 반환
s. append("abc")
print(s)
print(s.index("abc"))
      
print(s.count(2))

s = [1, 2, 2, 2, 2, 2, 3, 4, 5]
print(s.count(2))

2
[1, 2, 3, 4, 5, 'abc']
5
1
5

In [77]:
s = [1,2, -10, -7, 100]
s.reverse()
print(s)

s.sort()  # 정렬(반환값 없음)
print(s)

[100, -7, -10, 2, 1]
[-10, -7, 1, 2, 100]

In [79]:
s = [10, 20, 30, 40, 50]
s.remove(10)
print(s)

s = [10, 20, 30, 20, 40, 50] 
s.remove(20)      #첫번째 값만 추가
print(s)

s.extend([60,70])  #extend -> 값을 그대로 리스트에 추가(리스트 확장)
print(s)

s.append([60,70])  #리스트 추가
print(s)

[20, 30, 40, 50]
[10, 30, 20, 40, 50]
[10, 30, 20, 40, 50, 60, 70]
[10, 30, 20, 40, 50, 60, 70, [60, 70]]

In [82]:
s = [10, 20, 30, 40, 50]  #스택
s.append(60)
print(s)

print(s.pop())

print(s)

[10, 20, 30, 40, 50, 60]
60
[10, 20, 30, 40, 50]

In [83]:
s = [10, 20, 30, 40, 50]
print(s.pop(0))  #0번째 인덱스 꺼냄

print(s)

print(s.pop(1))

print(s)

10
[20, 30, 40, 50]
30
[20, 40, 50]

In [87]:
q = [10, 20, 30, 40, 50]  #큐:먼저 들어오는 것은 먼저, 마지막에 들어온 것은 마지막에 나감
q.append(60)
print(q.pop(0))

print(q)

10
[20, 30, 40, 50, 60]

In [113]:
s = list(range(1,11))
print(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
element  = list(range(4))
print(element)

[0, 1, 2, 3]

In [115]:
for i in element:
    print(s.pop())
print(s)

10
9
8
7
[1, 2, 3, 4, 5, 6]

### ---------------------------------------------------

### 리스트의 활용

In [123]:
L = [1,5,2,7,5,6,3]
print(L.sort())
print(L)              #리스트자체를 변경
print(L.reverse())
print(L)

None
[1, 2, 3, 5, 5, 6, 7]
None
[7, 6, 5, 5, 3, 2, 1]

In [126]:
L = [('lee',5,38),('kim',3, 28),('jung',10,36)]
L.sort()
print(L)

[('jung', 10, 36), ('kim', 3, 28), ('lee', 5, 38)]

In [128]:
L = [1,6,3,8,6,2,9]
L.sort(reverse = True)  #reverse 디폴트값 false
print(L)

[9, 8, 6, 6, 3, 2, 1]

In [133]:
L = ['123', '34','56','2345']
L.sort()
print(L)

L.sort(key=int)  #숫자열 비교
print(L)

['123', '2345', '34', '56']
['34', '56', '123', '2345']

In [134]:
a = int('123')   #int는 문자열을 정수로 바꿔주는 내장함수
print(a)
print(type(a))

123
<class 'int'>

In [136]:
L  = [1,6,3,8,6,2,9]
newList = sorted(L)    #sorted는 새로운 리스트를 반환
print(newList)
print(L)

[1, 2, 3, 6, 6, 8, 9]
[1, 6, 3, 8, 6, 2, 9]

In [141]:
for ele in sorted(L):
    print(ele ,end=" ")

1 2 3 6 6 8 9

In [142]:
L = [1,6,3,8,6,2,9]
print(sorted(L, reverse=True))

L = ['123','34','56','2345']
print(sorted(L, key=int))
print(L)

[9, 8, 6, 6, 3, 2, 1]
['34', '56', '123', '2345']
['123', '34', '56', '2345']

In [145]:
L = [1,6,3,8,6,2,9]
L.reverse()          #반환값 없음
print(L)

[9, 2, 6, 8, 3, 6, 1]

In [147]:
L = [1,6,3,8,6,2,9]
L.reverse()
for ele in L:
    print(ele+2 ,end = ",  ")
    
print()
L.reverse()
print(L)

11,  4,  8,  10,  5,  8,  3,
[1, 6, 3, 8, 6, 2, 9]

In [149]:
L = [1,6,3,8,6,2,9]
print(L)
for ele in reversed(L):   #새로운 객체 반환
    print(ele + 2, end=" ")
print()
print(L)

[1, 6, 3, 8, 6, 2, 9]
11 4 8 10 5 8 3
[1, 6, 3, 8, 6, 2, 9]

### 리스트 내포

In [151]:
L = []
for k in range(10):
    L.append(k*k)
    
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [154]:
L = [ k * k for k in range(10)]  #표현식 for 변수 in 반복할 리스트(컨테이너 객체)
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [157]:
L = [ k * k for k in range(10) if  k % 2]  # k%2가 0이면 거짓이므로 홀수만 제곱됨
print(L)

[1, 9, 25, 49, 81]

In [159]:
L = []
for k in range(10):
    if k % 2:
        L.append(k * k)
print(L)

[1, 9, 25, 49, 81]

- 20보다 작은 2의 배수와 3의 배수에 대해 그 두 수의 합이 7의 배수인 것들에 대해 그 두 수의 곱을 출력하는 코드

In [161]:
L = [(i, j, i*j) for i in range(2,20,2) for j in range(3,20,3) if (i + j) % 7 == 0 ]
print(L)

[(2, 12, 24), (4, 3, 12), (6, 15, 90), (8, 6, 48), (10, 18, 180), (12, 9, 108), (16, 12, 192), (18, 3, 54)]

In [163]:
seq1 = 'abc'
seq2 = (1,2,3)
print([(x,y) for x in seq1 for y in seq2])

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [167]:
words = "The quick brown fox jumps over the lazy dog".split()
print(words)
print()

stuff = [[w.upper(), w.lower(), len(w)] for w in words]
print(stuff)
print()
for i in stuff:
    print(i)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]