### 산술 연산자

지수 연산자 : **

In [5]:
print( 2 ** 3 )

8

계산 순서(오른쪽  -> 왼쪽)

In [6]:
print( 2 ** 2 ** 3)

256

In [7]:
print( 2 ** ( 2 ** 3))

256

In [9]:
print((2 ** 2) ** 3)

64

In [10]:
print(5 % 2)

1

In [11]:
print(-5 % 2)

1

In [12]:
print(-5 / 2)

-2.5

In [13]:
print( 5 % 2 + 1)

2

정수 + 실수 의 결과는 실수

정수 / 실수의 결과는 실수

In [18]:
5 / 3

1.6666666666666667

In [21]:
print(divmod(5, 3))

(1, 2)

In [25]:
print(5 / 3 )        #소수점 이하를 버리는 것?

1.6666666666666667

In [23]:
print (5 // 3)        # %에 대응되는 연산자 = 몫

1

In [26]:
print(-7/4)

-1.75

In [28]:
print(-(7/4))

-1.75

In [29]:
print(7/4)

1.75

In [30]:
print( 2 + 3 * 4)

14

In [31]:
print((2 + 3 ) * 4)

20

In [32]:
print( 4 / 2 * 2)

4.0

### 관계 연산자

== : 두개의 객체가 동일한지

In [35]:
print( 6 == 9 )

False

In [36]:
print( 6 != 9)

True

In [37]:
print( 1 > 3)

False

In [41]:
print( 5 <= 5 )

True

In [44]:
a = 5
b = 10
print( 0 < a < b)

True

In [46]:
a = 5
b = 10
print( 0 < a  and a < b)

True

In [50]:
# 문자열과 문자열 비교(사전 순서로 대소관계 비교)

print('abcd' > 'abd')

False

In [58]:
print(( 1,2,4,) < ( 2, 1, 0))

True

In [52]:
print([1,3,2] == [1,2,3])

False

In [57]:
print((1,2,4) == ( 1,2,4))

True

자료형이 다르면 자체가 가지고 있는 크기로 비교

 - 숫자 < 사전 < 리스트 < 문자열 < 튜플

In [68]:
L = [1,2,3, 'abc' , 'a', 'z', ( 1,2,3), [1,2,3], {1:2},['abc']]

In [69]:
L.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [70]:
print(L)

[1, 2, 3, 'abc', 'a', 'z', (1, 2, 3), [1, 2, 3], {1: 2}, ['abc']]

In [71]:
##?? 에러남

In [73]:
x = [1,2,3]
y = [1,2,3]
z = y

In [77]:
print( x == y )
print( x == z )
print(x is y)
print(x is z)
print(y is z)

True
True
False
False
True

### 부울연산자

In [79]:
a = 20
b = 30
print( a > 10 and b < 50)

True

In [81]:
a = 20
b = 60
print( a > 10 or b < 50)

True

In [83]:
print( True + 1 )
print( False + 1 ) 
print( False * 75 )
print( True * 75 )

2
1
0
75

In [84]:
print(bool(0))

False

In [85]:
print(bool(0.0))

False

In [88]:
print( bool('abc'))

True

In [89]:
print(bool(''))

False

In [92]:
#내용이 있으면 true

In [98]:
print(1 and 1)
print(1 and 0)
print( 0 or 0)
print( 1 or 0)
print()
print( [] or 1)
print([] or ())
print([] and 1)

1
0
0
1

1
()
[]

In [99]:
print ( 1 and 2 )
print( 1 or 2)
print()
print ( [[]] or 1)
print([{}] or 1)
print( '' or 1)

2
1

[[]]
[{}]
1

In [102]:
print (not(True))
print(not(1 and 2))
print (not("" or 1))

False
False
False

### ------------------------------------

### 제어문

python -> 들여쓰기 강조

: -> 새로운 블럭이 시작됨을 알림

In [3]:
a = 1
b = 2
if a < 10:
    c = 1
    d = 10
    e = 20
    if b > 10:
        f = 10
    g = 10
    t = 200
x = 10

In [6]:
score = 90
if score >= 90:
    print("Congraturation")

Congraturation

In [7]:
a = 2
if a > 5:
    pint('BIG')
else:
    print('SMALL')

SMALL

In [9]:
order = "spagetti"
menu = {'spam':500, 'ham':700,'egg':300,'spagetti':900}
price = menu[order]
print(price)

900

In [10]:
a = ['cat','cow','tiger']
for x in a:
    print (len(x),x)

3 cat
3 cow
5 tiger

In [22]:
print(range(10))
print(list(range(10)))

for x in range(10):
    print(x,)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
5
6
7
8
9

In [24]:
sum = 0
for x in range(1,11):
    sum = sum + x

print(sum)

55

In [26]:
prod = 1
for x in range(1,11):
    prod = prod * x

print (prod)

3628800

In [29]:
l = ['cat', 'dog','bird','pig']
for k, animal in enumerate(l):    ## k는 인덱스 animal은 값
    print(k, anima[key'l)

SyntaxError: EOL while scanning string literal (<ipython-input-29-d7840cfb33bb>, line 3)

In [40]:
d = { 'c':'cat','d':'dog','b': 'bird','p':'pig'}
for i in d:
    print( d[i]);

cat
dog
bird
pig

In [43]:
for x in range(10):
    break
    print(x,)
else: print ('else block');

In [51]:
x = 0
while(x <10):
    print (x, end=",")
    x = x + 1
else:
    print('else block')
print('done')

0,1,2,3,4,5,6,7,8,9,else block
done

### 함수

In [60]:
def add(a,b):
    return a + b

print (add(3,4))

print ( add([1,2,3],[4,5,6]))

c = add(10,30)
print(c)

7
[1, 2, 3, 4, 5, 6]
40

In [64]:
def add(a,b):
    return a + b

f = add
print(f(4,5))
print(f)
print (f is add)

9
<function add at 0x000002150CBCA9D8>
True

In [65]:
def simple():
    pass

print(simple())

None

In [67]:
def add(a,b):
    return a + b

def myabs(x):
    if x < 0:
        x = -x;
    return x

def addabs(a,b):
    c = add(a,b)
    return myabs(c)

print(addabs(-5,-7))

12

In [68]:
def minus(a,b):
    return a - b

print(minus(a = 12, b = 20))
print(minus(b = 20, a = 12))

print(minus(12,20))

-8
-8
-8

인자를 적어주면 순서 상관없음

In [70]:
def incr(x, y = 1):         ##y안적어주면 디폴트값으로 들어감
    return x + y

print(incr(5))
print(incr(3,4))

6
7

In [71]:
def calc(x,y):
    return x+y,x-y,x*y,x/y

print(calc(10,2))

(12, 8, 20, 5.0)

In [72]:
def sum(N):
    if N == 1:
        return 1
    return N + sum(N-1)

print(sum(10))

55