### 리스트 내포

In [5]:
S = range(30)
A = [x**2 for x in range(10)]
B = [2**i for i in range(17)]
C = [x for x in S if x % 2 == 1]
print(A)
print(B)
print(C)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [7]:
L = [K*K for K in range(10)]
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
L = [k*k for k in range(10) if k % 2]        #**중요**
print(L)

[1, 9, 25, 49, 81]

In [10]:
L = []       #위의 코드와 같다는것을 인지하고 서로 고칠수 있도록**시험**
for k in range(10):
    if k % 2:
        L.append(k*k)
print(L)

[1, 9, 25, 49, 81]

In [13]:
seq1=  'abc'
seq2 = (1,2,3)
print([(x,y) for x in seq1 for y in seq2])

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [15]:
seq1 = 'abc'
seq2 = (1,2,3)
l = []
for x in seq1:
    for y in seq2:
        l.append((x,y))
print(l)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [18]:
L = [(i, j, i*j) for i in range(2, 20, 2) for j in range(3, 20, 3) if (i + j) % 7 == 0]
print(L)

[(2, 12, 24), (4, 3, 12), (6, 15, 90), (8, 6, 48), (10, 18, 180), (12, 9, 108), (16, 12, 192), (18, 3, 54)]

In [19]:
words = 'The quick brown fox jumps over the lazy dog'.split()
stuff = [len(w) for w in words]          #리스트만 할 수 있는것은 아님
print(stuff)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [42]:
tri = [(x,y,z) for x in range(1,30) \
       for y in range(1,30) \
       for z in range(1,30) \
       if x*x + y*y == z*z and x<=y and y<=z ]
print(tri)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]

### 튜플

In [45]:
t1 = ()
t2 = (1,2,3)

t3 = 1,2,3
print(type(t1))
print(type(t2))
print(type(t3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [47]:
r1 = (1,)
print(type(r1))
r2 = (1)
print(type(r2))

<class 'tuple'>
<class 'int'>

In [48]:
(1) is 1

True

In [50]:
print(type(r2))

<class 'tuple'>

In [52]:
r2 = 1,
print(type(r2))

<class 'tuple'>

In [55]:
t = (12345, 54321,'hello!')
u = t,(1,2,3,4,5)  #u의 원소 2개
print(u)

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [58]:
x,y,z=1,2,3
print(x)
print(y)
print(z)

1
2
3

In [61]:
x,y,z = (1,2,3)   #패킹, 언패킹이라는 용어와 함께 알기!**중요**
print(x)
print(y)
print(z)

1
2
3

In [63]:
a = ['foo','bar', 4, 5]
[x,y,z, w] = a
print(x)

foo

In [66]:
a = list()
a = []
b = tuple()
b = ()

In [69]:
def calc(a,b):
    return a+b, a*b  #tuple
c = calc(10,20)
print(c)

(30, 200)

In [71]:
print('id:%s, name: %s' %(12345,'안녕'))

id:12345, name: 안녕

In [75]:
d = {'one':1, 'two':2,'three':3}
print(d.items())

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [76]:
a = set([1,2,3])
b = set()

set의 특징   **(기억하기@@)
- 변경가능한 객체
- 원소간의 순서는 없음(시퀀스 아님)
- 원소 중복 불가

In [79]:
a = set((1,2,3,))
print(a)

{1, 2, 3}